.tab-list-wrapper {
  overflow-x: auto;
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer 10+ */
}

.tab-list-wrapper::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.tab-list-wrapper::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

.tab-list-wrapper:hover::-webkit-scrollbar-thumb {
  background-color: #d2e0e7;
}

.tab-list-wrapper:active::-webkit-scrollbar-thumb {
  background-color: #b9bbbd;
}

.tab-list-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Firefox */
.tab-list-wrapper {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.tab-list-wrapper:hover {
  scrollbar-color: #888 transparent;
}
