
<div class="items-center justify-center text-center grid gap-3 grid-flow-col h-12 bg-gradient-to-r from-white from-1% via-regal-blue to-white ">
    <button class="rounded-full font-light text-regal-blue text-xs bg-white py-1 px-3">NEW INFO</button>
    <button class="rounded-full font-light text-white text-xs bg-regal-blue py-1 px-3 border border-white">MOBILE APPLICATION COMING SOON</button>
</div>



<div class="items-center lg:justify-end grid md:justify-center sm:justify-center grid-rows-1 gap-4 grid-flow-col border-b-2 h-20 px-36">
    <button class="rounded-2xl font-light text-white text-md bg-black py-2 px-4 ">Sign Up</button>
    <button class="rounded-2xl font-light text-black text-md bg-white py-2 px-4 border border-grey">Login</button>
</div>



<div class="grid justify-center items-center pt-24 text-center lg:border-b-2">
    <div class="text-7xl font-bold">
      Easy way to explore <br> more communities.
    </div>
    <div class="mt-5">
        <div class="font-light text-grey">Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis 
            <br> molestie, dictum esta, mattis tellus</div>
        </div>
    <div class="mt-10">
        <button class="rounded-2xl font-light text-white text-md bg-regal-blue py-4 px-10 ">Open Account</button>
        <button class="rounded-2xl font-light text-black text-md bg-white py-4 px-10 border border-grey ml-4">Login</button>
    </div>
    <div class="mt-5">
        Text goes here, Text goes here
    </div>
    <div class="lg:h-700" style="overflow: hidden;">
        <img src="/assets/Frame.png" alt="image" />
    </div>
</div>

<div class="grid lg:grid-cols-2 place-content-center justify-center  sm:grid-cols-1 sm:px-10 lg:mt-20 2xl:px-80 xl:px-60 lg:px-40 md:px-28" >
    <div class="grid grid-rows p-10 ">
        <div class="font-medium text-3xl mb-5">Heading can be <br> added later</div>
        <div class="mb-5">A lot of random works just to see if this is working <br> the way that it is suppose to. </div>
        <div >
            <button class="rounded-2xl font-light text-white text-sm bg-regal-blue py-2 px-8 ">Get started</button>
        </div>
    </div>
    <div class="p-16 bg-slate-50 w-full rounded-lg" >
         <img src="/assets/leaderBoard.png" alt="image" />
    </div>
</div>

<div class="grid lg:grid-cols-2 place-content-center justify-center  sm:grid-cols-1 sm:px-10 lg:mt-20 2xl:px-80 xl:px-60 lg:px-40 md:px-28" >
    <div class="p-10 bg-slate-50 w-full rounded-lg" >
        <img src="/assets/graph.png" alt="image" />
    </div>
    <div class="grid grid-rows p-10 ">
        <div class="font-medium text-3xl mb-5">Heading can be <br> added later</div>
        <div class="mb-5">A lot of random works just to see if this is working <br> the way that it is suppose to. </div>
        <div>
            <button class="rounded-2xl font-light text-white text-sm bg-regal-blue py-2 px-8 ">Get started</button>
        </div>
    </div> 
</div>

<div class="grid lg:grid-cols-3 md:grid-cols-1  h-440 w-full bg-regal-blue mt-20 text-center justify-center place-content-center">
    <div class="grid grid-rows mb-5">
        <div class="text-white text-2xl font-thin">Heading goes here</div>
        <div class="text-white font-thin">A lot of random works just to see if this is working <br> the way that it is suppose to.</div>
    </div>
   <div class="grid grid-rows mb-5">
        <div class="text-white text-2xl font-thin">Heading goes here</div>
        <div class="text-white font-thin">A lot of random works just to see if this is working <br> the way that it is suppose to.</div>
    </div>
    <div class="grid grid-rows mb-5">
        <div class="text-white text-2xl font-thin">Heading goes here</div>
        <div class="text-white font-thin">A lot of random works just to see if this is working <br> the way that it is suppose to.</div>
    </div>
</div>

<div class="mt-20 text-center">
    <div class="text-3xl font-medium ">Frequently asked questions</div>
    <div class="text-xs mt-3 text-grey">Everything you need to know about the product and billing</div>
</div>



